/* ---------------------------------------------------- */
/* GLOBAL CSS & TAILWIND                               */
/* ---------------------------------------------------- */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------------------------------- */
/* DISABLE BROWSER TEXT / IMAGE SELECTION               */
/* ---------------------------------------------------- */

.disable-selection,
.disable-selection * {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* ---------------------------------------------------- */
/* CUSTOM FONTS                                        */
/* ---------------------------------------------------- */

/* Relative path from resources/css/app.css to resources/fonts */
@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Amaranth";
  src: url("../fonts/Amaranth-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BBH Bogle";
  src: url("../fonts/BBHBogle-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Caveat Brush";
  src: url("../fonts/CaveatBrush-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Changa";
  src: url("../fonts/Changa-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Chewy";
  src: url("../fonts/Chewy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Comic Neue";
  src: url("../fonts/ComicNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Courgette";
  src: url("../fonts/Courgette-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Mono";
  src: url("../fonts/DMMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Great Vibes";
  src: url("../fonts/GreatVibes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Indie Flower";
  src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/KaushanScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merienda";
  src: url("../fonts/Merienda-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Reenie Beanie";
  src: url("../fonts/ReenieBeanie-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satisfy";
  src: url("../fonts/Satisfy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ---------------------------------------------------- */
/* CUSTOM ANIMATIONS                                   */
/* ---------------------------------------------------- */

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(6px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-in {
  opacity: 0;
  animation: fadeInUp 0.5s ease-out forwards;
}

/* ---------------------------------------------------- */
/* FIREFOX ORANGE HOVER FIX FOR <OPTION> ELEMENTS       */
/* ---------------------------------------------------- */

select option:hover,
select option:focus,
select option:active {
  background: #2563eb !important; /* Tailwind blue-600 */
  color: white !important;
}

select option {
  background-color: white;
  color: black;
}

/* Dark mode for options */
.dark select option {
  background-color: #1f2937; /* gray-800 */
  color: white;
}
